@use 'variables' as *;
@use 'mixins' as *;

* {
  transition:
    background-color 0.3s,
    color 0.3s;
}

html {
  background-color: $bg-principal;
  font-family: $font-family;
  font-weight: normal;
  color: $color-title;
}

#app {
  max-width: 1280px;
  min-height: 100vh;
  @include media('mobile') {
    padding: 0;
  }
  padding: 0 10px;
  margin: 0 auto;
}
