*,
*::before,
*::after {
  list-style: none;
  text-decoration: none;
  outline: none;
  font-style: none;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
}
