$primary-color: #63B3FF;
$background-elements: #7CB3EB;

$btn-regular: #283747;
$btn-regular-hover:#324457;
$btn-secondary-hover: #202f3f;
$btn-active-hover: #3D5268;

$bg-principal: #090E13;
$bg-sections: #181E24;
$color-title: rgba(255, 255, 255, 0.902);
$color-description: rgba(255, 255, 255, 0.702);
$color-tags: rgba(255, 255, 255, 0.502);

$font-family: 'Roboto', sans-serif;
$font-base-xs: $font-family 0.75rem;
$font-base-sm: $font-family 0.875rem;
$font-base-size: $font-family 1rem;
$font-base-lg: $font-family 1.125rem;
$font-base-xl: $font-family 1.25rem;
$font-base-2xl: $font-family 1.5rem;
$font-base-3xl: $font-family 1.875rem;
$font-base-4xl: $font-family 2.25rem;
